
{% extends 'base.html' %}
{% load static %}
{% block hero %}
{% endblock %}
{% block content %}

{% block about %}
    {% endblock %}
    {% block services %}
        {% endblock %}
    {% block skills %}
        {% endblock %}
		{% block projects %}
    <section class="ftco-section ftco-project" id="projects-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big big-2">Projects</h1>
            <h2 class="mb-4">Recent Projects</h2>
<p>Explore my latest projects, each is a testament to my commitment to innovation and excellence. To view the detailed implementations and source code, please click on the images below, which will direct you to my GitHub repository for more insights and information.</p>

          </div>
        </div>
    		<div class="row">
    			<div class="col-md-4">
    <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/inventory.jpeg' %});">
        <div class="overlay"></div>
        <div class="text text-center p-4">
            <h3><a href="https://github.com/Tindae2022/Inventory-Management/tree/master">Inventory Management</a></h3>
            <span>Web Application</span>
            <!-- Link icon -->
            <a href="https://github.com/Tindae2022/Inventory-Management/tree/master" class="btn btn-primary mt-3" target="_blank">
                <i class="fas fa-link"></i> View Project
            </a>
        </div>
    </div>
</div>

  				<div class="col-md-8">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/student-manager.jpeg' %});">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
            <h3><a href="https://github.com/Tindae2022/student_manager/tree/master">Student Management System</a></h3>
            <span>Web Application</span>
            <!-- Link icon -->
            <a href="https://github.com/Tindae2022/student_manager/tree/master" class="btn btn-primary mt-3" target="_blank">
                <i class="fas fa-link"></i> View Project
            </a>
        </div>
    				</div>
  				</div>

    			<div class="col-md-8">
    				

    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/blog.jpeg' %});">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
            <h3><a href="https://github.com/Tindae2022/student_manager/tree/master">Blog & Personal Portfolio</a></h3>
            <span>Web Application</span>
            <!-- Link icon -->
            <a href="https://github.com/Tindae2022/student_manager/tree/master" class="btn btn-primary mt-3" target="_blank">
                <i class="fas fa-link"></i> View Project
            </a>
        </div>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="row">
    					<div class="col-md-12">
		    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/warehouse-manager.jpeg' %});">
		    					<div class="overlay"></div>
			    				<div class="text text-center p-4">
            <h3><a href="https://github.com/Tindae2022/Warehousing-Management-System/tree/master">E-Commerce & Warehouse Management System</a></h3>
            <span>Web Application</span>
            <!-- Link icon -->
            <a href="https://github.com/Tindae2022/Warehousing-Management-System/tree/master" class="btn btn-primary mt-3" target="_blank">
                <i class="fas fa-link"></i> View Project
            </a>
        </div>
		    				</div>
	    				</div>
	    				
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
{% endblock %}

 {% endblock %}
       



















