{% extends 'base.html' %}
{% load static %}
{% block hero %}
{% endblock %}
{% block content %}

{% block about %}
    {% endblock %}
    {% block services %}
    <section class="ftco-section" id="services-section">
    	<div class="container">
    		<div class="row justify-content-center py-5 mt-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big big-2">Services</h1>
            <h2 class="mb-4">Services</h2>

            <p>
                In today’s fast-paced tech world, my services are designed to address complex technological challenges with precision and creativity. I offer a comprehensive approach that combines deep technical knowledge with strategic problem-solving, ensuring that every project not only meets but exceeds expectations. Whether developing innovative solutions or optimizing existing systems, my services are focused on delivering impactful results that drive technological progress and efficiency.
            </p>
          
          
          

            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>

          </div>
        </div>
    		<div class="row">
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="#" class="services-1">
							<span class="icon">

								<i class="fa fa-code"></i>


								<i class="flaticon-analysis"></i>

							</span>
							<div class="desc">
								<h3 class="mb-5">Web Development</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="#" class="services-1">
							<span class="icon">

								<i class="fa fa-database"></i>


								<i class="flaticon-flasks"></i>

							</span>
							<div class="desc">
								<h3 class="mb-5">Database Management</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="#" class="services-1">
							<span class="icon">

								<i class="fa fa-chart-bar"></i>



								<i class="flaticon-ideas"></i>

							</span>
							<div class="desc">
								<h3 class="mb-5">Data Analysis & Reporting</h3>
							</div>
						</a>
					</div>

					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="#" class="services-1">
							<span class="icon">

								<i class="fa fa-tasks"></i>



								<i class="flaticon-analysis"></i>

							</span>
							<div class="desc">
								<h3 class="mb-5">Project Management</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="#" class="services-1">
							<span class="icon">

								<i class="fa fa-bullhorn"></i>



								<i class="flaticon-flasks"></i>

							</span>
							<div class="desc">
								<h3 class="mb-5">Branding</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="#" class="services-1">
							<span class="icon">

								<i class="fa fa-lightbulb"></i>



								<i class="flaticon-ideas"></i>

							</span>
							<div class="desc">
								<h3 class="mb-5">Product Strategy</h3>
							</div>
						</a>
					</div>
                <div class="col-md-4 text-center d-flex ftco-animate">
						<a href="#" class="services-1">
							<span class="icon">

							<i class="fa fa-users"></i>



								<i class="flaticon-ideas"></i>

							</span>
							<div class="desc">
								<h3 class="mb-5">Customer Relationship Management (CRM)</h3>
							</div>
						</a>
					</div>
				</div>
            
    	</div>
    </section>

        {% endblock %}
{% endblock %}